# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]

# Mac system files
.DS_Store

# Data output folders (Optional: keep these out of git if they get huge)
data/output/
data/results/